:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-backround-color: #2f303a;
  --main-black-color: #000000;
  --secondary-white-color: #f5f4fa;
  --footer-links-color: rgba (255, 255, 255, 0.6);
  --hover-links-color: #188ce8;
  --font-family-main: "Roboto", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;
  --footer-primary-color: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: var(--primary-white-color);
  font-family: var(--font-family-main), var(--font-family-secondary);
}

.container {
  width: 100%;
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

/*оформлення логотипа*/

.logo {
  display: inline-block;
  font-family: var(--font-family-secondary);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
  margin-right: 85px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.logo-color {
  color: var(--accent-color);
}

/*оформлення кольору меню*/

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-item-link {
  display: inline-block;
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.nav-item {
  display: inline-block;
  margin-bottom: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item-link:not(:last-child) {
  margin-bottom: 50px;
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/*оформлення маржінів і кольору контактів*/

.contacts-ul {
  margin-top: 0;
  margin-bottom: 0;
}
.contacts-item {
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 32px;
}

.contacts-item:not(:last-child) {
  margin-right: 60px;
}

.contacts-item-link {
  color: var(--primary-title-color);
}

.contacts-item-link:hover,
.contacts-item-link:focus {
  color: var(--accent-color);
}

/*оформлення кнопки*/

.hero-photo {
  max-width: 100%;
}

.modal-btn {
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-white-color); /*колір тексту*/
  padding: 10px;
  margin: 5px;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-title-color); /*колір тексту при новеденні*/
}

/*hero section*/

.hero-section {
  text-align: center;
  margin-bottom: 95px;
}

.hero-modal-btn {
  display: inline-block;
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  height: 50px;
  padding: 10px 32px;

  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.main-title {
  font-family: var(--font-family-main);
  font-style: 400;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 60px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color); /* потрібно буде поміняти на білий*/
}

/* quality list*/

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;

  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-white-color);
}

.quality-section {
  margin-bottom: 95px;
}

.quality-list {
  display: flex;
}

.quality-item:not(:last-child) {
  margin-right: 30px;
}

.quality-list-item {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;

  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

/* опис блоку якостей дрібним шрифтом*/

.discription-text {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*Work-exemples*/

.work-exemples {
  margin-bottom: 95px;
}

.exemple-list {
  display: flex;
  justify-content: center;
}

.exemple-list-item:not(:last-child) {
  margin-right: 30px;
}

.title-text {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.work-list-text {
  display: block;
  margin-top: 0;
  margin-bottom: 0;

  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(
    --primary-title-color
  ); /* потрібно буде в кінці замінити на білий*/
}

/*our team*/

.our-team-section {
  padding-top: 95px;
  padding-bottom: 95px;
}

.main-page > .our-team-section:nth-last-child(2) {
  background-color: var(--secondary-white-color);
}

.team-list {
  display: flex;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-photo {
  margin-top: 0;
  margin-bottom: 30px;
}

.team-people-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.professon-name {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*social links*/

.social-list {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.social-list > .social-list-item:not(:last-child) {
  margin-right: 10px;
}

.team-list .social-wrapper {
  /*враппер доробити іншим*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: none;
}

.social-wrapper:hover {
  background-color: var(--accent-color);
}

/*.social-list .social-link-item {
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}*/

/*
.social-link-item:hover,
.social-link-item:focus {
  color: var(--accent-color);
}*/

/*portfolio*/

.portfolio-modal-btn {
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color); /*колір тексту*/
  padding: 10px;
  margin: 5px;
  background: #f5f4fa;
}

.portfolio-list-bnt {
  display: inline-block;
}

.portfolio-modal-btn:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/*portfolio description*/

.work-title {
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.work-discription {
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55em;
  letter-spacing: 0.03em;
  color: var(--primary-title-color); /*потрбно замінити на білий*/
}

.work-art {
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* footer logo*/

.footer-logo {
  font-family: var(--font-family-secondary);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-logo-color {
  color: var(--accent-color);
}

.post-info {
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/* footer contacts*/

.footer-cantacts-link,
.footer-contacts-item {
  color: rgba(255, 255, 255, 0.6);
}

.footer-cantacts-link:hover,
.footer-cantacts-link:focus {
  color: var(--accent-color);
}

/* footer social links*/

.footer-social-list,
.footer-social-link-item {
  color: var(--primary-text-color);
  display: inline-flex;
}

.footer-social-link-item:hover,
.footer-social-link-item:focus {
  color: var(--accent-color);
}

.footer-title {
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-container {
  background-color: var(--footer-backround-color);
}
